#container {
	width: 75vw;
	margin: auto;
}

body {
	margin: auto;
	background-color:  
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
 
.clearfix:after {
    clear: both;
}
 
h1 {font-size: 30px;
text-align: center;
}




 .headerColumn,.topColumn1,.leftColumn1, .rightColumn1 {
	float: left;
}



.headerColumn {
	width: 1400px;
	height: 100px;
	

	background-color: red;
}

.topColumn1{
	width: 1400px;
	height:550px;
	margin: 0px;
	background-color:blue;
}

.leftColumn1{
	width: 700px;
	height: 500px;
	margin: 5px;
	background-color: blue;
	
}

.rightColumn1{
	width:700px;
	height:500px;
	margin: 5px;
	background-color:green;
}


@media only screen and (max-width: 1325px )

