.container {
	width: 75vw;
	margin: auto;
}

body {
	font-size: 18px;
	margin: ;
	background-color:  
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
 
.clearfix:after {
    clear: both;
}

h1 {font-size: 75px;
	text-align: center;
	font-family: 'Pattaya', sans-serif;
}
 
h2 {font-size: 45px;
text-align: center;
font-family: 'Shadows Into Light', cursive;
color: white;

}




 .Title, .space, .headerColumn,.topColumn1,.leftColumn1, .rightColumn1 {
	float: left;
	margin: auto;
}
.space{
		width:1400px;
		height:100px;
		background-color: brown;
	}
.Title {
	width: 1400px;
	height: 200px;
	background-color: blue;
}

.headerColumn {
	width: 1400px;
	height: 100px;
	color: blue;
	

	

	background-color: red;
}


.topColumn1{
	width: 1400px;
	height:550px;
	margin: 0px;
	background-color:blue;
}

.leftColumn1{
	width: 700px;
	height: 500px;
	margin: 5px;
	background-color: blue;
	
}

.rightColumn1{
	width:660px;
	height:480px;
	margin: 5px;
	padding: 10px;
	background-color:green;
}

@media only screen and (max-width: 1180px) { /* its at 1163 for testing */
		.container {
		width: 90vw;
		margin: auto;
	}

	body {
		margin: ;
		background-color:  
	}

	.clearfix:before,
	.clearfix:after {
	    content: " "; /* 1 */
	    display: table; /* 2 */
	}
	 
	.clearfix:after {
	    clear: both;
	}
	h1 {font-size: 55px;
	text-align: center;
	font-family: 'Pattaya', sans-serif;
}

	h3 {font-size: 30px;
	text-align: center;
	font-family: 'Pattaya', sans-serif;
	
	}




	 .Title, .space, .container,.headerColumn,.topColumn1,.leftColumn1, .rightColumn1 {
		float: left;
		margin: auto;
	}

	.space{
		width:1050px;
		height:100px;
		background-color: brown;
	}

	.Title {
	width: 900px;
	height: 100px;
	background-color: blue;
	margin: 50px;
	}
	.headerColumn {
		width: 950px;
		height: 100px;
		margin: 40px;
		text-align: center;

		

		background-color: red;
	}

	img{ 
		width: 100%;
	 }

	iframe{
		width: 100%;
	}

	.topColumn1{
		width: 1050px;
		height:550px;
		margin: 10px;
		background-color:blue;

	}

	.leftColumn1{
		width: 500px;
		height: 500px;
		margin: 30px;
		background-color: blue;
		
	}

	.rightColumn1{
		width:390px;
		height:480px;
		margin: 30px;
		padding: 10px;
		background-color:green;
	}

}


@media only screen and (max-width: 800px) {

	.container {
		width: 90vw;
		margin: auto;
	}

	body {
		margin: ;
		background-color:  
	}

	.clearfix:before,
	.clearfix:after {
	    content: " "; /* 1 */
	    display: table; /* 2 */
	}
	 
	.clearfix:after {
	    clear: both;
	}
	h1 {font-size: 55px;
	text-align: center;
}

	h2 {font-size: 30px;
	text-align: center;
	}




	 .Title, .space, .container,.headerColumn,.topColumn1,.leftColumn1, .rightColumn1 {
		float: left;
		margin: auto;
	}

	.space{
		width:650px;
		height:100px;
		background-color: brown;
		margin: 50px;
	}

	.Title {
	width: 650px;
	height: 100px;
	background-color: blue;
	margin: 50px;
	}
	.headerColumn {
		width: 650px;
		height: 100px;
		margin: 50px;
		text-align: center;

		

		background-color: red;
	}

	img{ 
		width: 100%;
	 }

	iframe{
		width: 100%;
	}

	.topColumn1{
		width: 650px;
		height:550px;
		margin: 50px;
		background-color:blue;

	}



	.leftColumn1{
		width: 650px;
		height: 500px;
		margin: 50px;
		background-color: blue;
		
	}

	.rightColumn1{
		width:630px;
		height:480px;
		margin: 50px;
		
		background-color:green;
	}

}

@media only screen and (max-width: 600px) {

	.container {
		width: 90vw;
		margin: auto;
	}

	body {

		margin: ;
		background-color:  
	}

	.clearfix:before,
	.clearfix:after {
	    content: " ";  1 
	    display: table;  2 
	}
	 
	.clearfix:after {
	    clear: both;
	}
	h1 {font-size: 55px;
	text-align: center;
	font-family: 'Pattaya', sans-serif;
	}

	h2 {font-size: 30px;
	text-align: center;
	}




	 .Title, .space, .container,.headerColumn,.topColumn1,.leftColumn1, .rightColumn1 {
		float: left;
		
	}

	.space{
		width:0px;
		height:0px;
		background-color: brown;
		margin: 0px;
	}

	.Title {
	width: 400px;
	height: 100px;
	background-color: blue;
	margin: 50px;
	font-family: 'Pattaya', sans-serif;
	}
	
	.headerColumn {
		width: 450px;
		height: 100px;
		margin: 50px;
		text-align: center;

		

		background-color: red;
	}

	img{ 
		width: 100%;
		height: 100%;
		
	 }

	iframe{
		width: 100%;
		height: 100%;
	
	}

	.topColumn1{
		width: 450px;
		height:300px;
		margin: 50px;
		background-color:blue;
		background-position: center-bottom;

	}



	.leftColumn1{
		width: 450px;
		height: 300px;
		margin: 50px;
		background-color: blue;
		
	}

	.rightColumn1{
		width:400px;
		height:500px;
		margin: 50px;
		
		background-color:green;
	}

}



