.mainc {
	width: 100%;
	height: 100%;
}


.centered {
	width: 60vw;
	height: 50vh;
	background-color: blue;
	margin: 0 auto; /* for keeping center div 0 from top auto bottom, both cannot be auto*/ 

}

.center {
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.strange{
	width: 100px;
	height: 100px;
	position: absolute;
	left: 1300px;
	top: 200px;
	opacity: 0;
	overflow: none;
}

.strange:hover {
	opacity: 1.0;
	width: 600px;
	height: 300px;
	cursor:url(https://www.dhresource.com/100x100/f2/albu/g6/M01/A6/E9/rBVaSFqzYbmAFo6KAAPuv1WJMfE673.jpg),auto;
	

}

.vision{
	overflow: hidden;
	width: 75px;
	height: 90px;
	top: 150px;
	left: 440px;
	background-color:red;
	position: absolute;
	opacity: 0;
	
}

.vision:hover {
	opacity: 1.0;
	width: 500px;
	height: 200px;
	cursor: url(https://i1.sndcdn.com/artworks-000216779139-zwfsyt-large.jpg),auto;

	

}

.witch{
	position: absolute;
	width: 100px;
	height:100px;
	top: 260px;
	left: 400px;
	background-color: red;
	overflow: hidden;
	opacity: 0;
}

.witch:hover {
	opacity: 1.0;
	width: 300px;
	height: 200px;
}

.panther{
	position: absolute;
	width:100px;
	height:100px;
	top:500px;
	left: 535px;
	background-color:red;
	overflow:hidden;
	opacity: 0;

}

.panther:hover {
	opacity: 1.0;
	width: 300px;
	height: 200px;
}

.cap{
	position: absolute;
	width:100px;
	height:100px;
	top: 450px;
	left: 700px;
	background-color: red;
	overflow: hidden;
	opacity: 0;
	
}

.cap:hover {
	opacity: 1.0;
	width: 400px;
	height: 300px;
	cursor:url(http://wiki.marvel-world.com/images/thumb/a/a8/Salle_des_Tresors_d_Odin_Terre-199999-Tesseract.jpg/120px-Salle_des_Tresors_d_Odin_Terre-199999-Tesseract.jpg), auto;
}

.thor{
	position: absolute;
	width:100px;
	height:100px;
	top:450px;
	left:1000px;
	overflow:hidden;
	opacity: 0;
}

.thor:hover {
	opacity: 1.0;
	width:500px;
	height:300px;
	cursor:url(https://yt3.ggpht.com/-Rzb12hz-Lco/AAAAAAAAAAI/AAAAAAAAAAA/kn96hjzHye8/s100-mo-c-c0xffffffff-rj-k-no/photo.jpg), auto;

}

.widow{
	position: absolute;
	width: 100px;
	height: 100px;
	top: 620px;
	left: 885px;
	background-color:red;
	overflow:hidden;
	opacity: 0;

}

.widow:hover{
	opacity: 1.0;
	width: 400px;
	height: 200px;
}

.lord{
	position: absolute;
	width: 100px;
	height: 100px;
	top: 550px;
	left: 1220px;
	background-color: red;
	overflow:hidden;
	opacity: 0;

}

.lord:hover {
	opacity: 1.0;
	width: 600px;
	height:250px;
	cursor:url(https://vignette.wikia.nocookie.net/disney/images/9/98/Power_Stone-Clean.png/revision/20180408204206/scale-to-width-down/120), auto;
}

.spider{
	position: absolute;
	width: 100px;
	height: 100px;
	top: 800px;
	left: 900px;
	overflow:hidden;
	opacity: 0;

}

.spider:hover {
	opacity: 1.0;
	width: 400px;
	height:200px;

}

.groot{
	position: absolute;
	width: 100px;
	height: 100px;
	top: 720px;
	left: 1100px;
	overflow:hidden;
	opacity: 0;
}

.groot:hover{
	opacity: 1.0;
	width: 400px;
	height: 200px
}

.gamora{
	position: absolute;
	width: 100px;
	height:100px;
	top:700px;
	left:1220px;
	overflow:hidden;
	opacity:0;
}

.gamora:hover{
	opacity:1.0;
	width: 400px;
	height:300px;
	cursor:url(https://images.fineartamerica.com/images/artworkimages/square/1/soul-infinity-stone-poster-style-2-cole-iba.jpg), auto;
}

.hulk{
	position: absolute;
	width:100px;
	height:100px;
	top:700px;
	left:450px;
	opacity: 0;
}

.hulk:hover{
	opacity: 1.0;
	width:300px;
	height:200px;
}

.bucky{
	position:absolute;
	width:100px;
	height:100px;
	top:780px;
	left:320px;
	opacity: 0;
}

.bucky:hover {
	width:400px;
	height:200px;
	opacity: 1.0;
}

.drax{
	position:absolute;
	width:100px;
	height:100px;
	top:700px;
	left:1600px;
	opacity:0;

}

.drax:hover{
	opacity:1.0;
	width:300px;
	height:200px;
}

.rocket{
	position: absolute;
	width: 100px;
	height:100px;
	top:860px;
	left: 1600px;
	opacity: 0;
	overflow: hidden;
}

.rocket:hover {
	opacity: 1.0;
	width:300px;
	height:200px;
}

.warmachine {
	position: absolute;
	width:100px;
	height:100px;
	top:650px;
	left:1420px;
	opacity:0;
	overflow:hidden;
}

.warmachine:hover {
	position: absolute;
	width:400px;
	height:250px;
	opacity:1.0;
}

.mantis {
	position:absolute;
	width:100px;
	height:100px;
	top:715px;
	left:1320px;
	opacity:0;
	overflow:hidden;
}

.mantis:hover {
	position:absolute;
	width:300px;
	height:200px;
	opacity:1.0;
}

.okoye {
	position:absolute;
	width:100px;
	height:100px;
	left:700px;
	top:630px;
	opacity:0;
}

.okoye:hover {
	width:300px;
	height:200px;
	opacity:1.0;
}

.shuri {
	position:absolute;
	width:100px;
	height:100px;
	left:600px;
	top:662px;
	opacity:0;

}

.shuri:hover {
	width:300px;
	height:200px;
	opacity:1.0;
}

.nebula {
	position:absolute;
	width:100px;
	height:100px;
	left:450px;
	top:470px;
	opacity:0;
}

.nebula:hover {
	opacity:1.0;
	width:400px;
	height:200px;
}

.falcon {
	position:absolute;
	width:100px;
	height:100px;
	left:290px;
	top:580px;
	opacity:0;
}

.falcon:hover {
	width:400px;
	height:200px;
	opacity:1.0;
}

.wong {
	position:absolute;
	width:100px;
	height:100px;
	left:1290px;
	top:120px;
	opacity:0;
}

.wong:hover {
	width:400px;
	height:200px;
	opacity:1.0;
}