.mainc {
	width: 100%;
	height: 100%;
}


.centered {
	width: 60vw;
	height: 50vh;
	background-color: blue;
	margin: 0 auto; /* for keeping center div 0 from top auto bottom, both cannot be auto*/ 

}

.center {
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.strange{
	width: 100px;
	height: 100px;
	position: absolute;
	left: 1300px;
	top: 200px;
	opacity: 0;
	overflow: none;
}

.strange:hover {
	opacity: 1.0;
	width: 500px;
	height: 200px;
	

}

.vision{
	overflow: hidden;
	width: 75px;
	height: 90px;
	top: 150px;
	left: 440px;
	background-color:red;
	position: absolute;
	opacity: 0;
	
}

.vision:hover {
	opacity: 1.0;
	width: 300px;
	height: 200px;
	cursor: url(https://i1.sndcdn.com/artworks-000216779139-zwfsyt-large.jpg), auto;

	

}

.witch{
	position: absolute;
	width: 100px;
	height:100px;
	top: 260px;
	left: 400px;
	background-color: red;
	overflow: hidden;
	opacity: 0;
}

.witch:hover {
	opacity: 1.0;
	width: 300px;
	height: 200px;
}

.panther{
	position: absolute;
	width:100px;
	height:100px;
	top:500px;
	left: 535px;
	background-color:red;
	overflow:hidden;
	opacity: 0;

}

.panther:hover {
	opacity: 1.0;
	width: 300px;
	height: 200px;
}

.cap{
	position: absolute;
	width:100px;
	height:100px;
	top: 450px;
	left: 700px;
	background-color: red;
	overflow: hidden;
	opacity: 0;
	
}

.cap:hover {
	opacity: 1.0;
	width: 300px;
	height: 200px;
}

.thor{
	position: absolute;
	width:100px;
	height:100px;
	top:450px;
	left:1000px;
	overflow:hidden;
	opacity: 0;
}

.thor:hover {
	opacity: 1.0;
	width:400px;
	height:200px
}

.widow{
	position: absolute;
	width: 100px;
	height: 100px;
	top: 620px;
	left: 885px;
	background-color:red;
	overflow:hidden;
	opacity: 0;

}

.widow:hover{
	opacity: 1.0;
	width: 400px;
	height: 200px;
}

.lord{
	position: absolute;
	width: 100px;
	height: 100px;
	top: 550px;
	left: 1220px;
	background-color: red;
	overflow:hidden;
	opacity: 0;

}

.lord:hover {
	opacity: 1.0;
	width: 400px;
	height:200px;
}

.spider{
	position: absolute;
	width: 100px;
	height: 100px;
	top: 800px;
	left: 900px;
	overflow:hidden;
	opacity: 0;

}

.spider:hover {
	opacity: 1.0;
	width: 400px;
	height:200px;

}

.groot{
	position: absolute;
	width: 100px;
	height: 100px;
	top: 720px;
	left: 1100px;
	overflow:hidden;
	opacity: 0;
}

.groot:hover{
	opacity: 1.0;
	width: 400px;
	height: 200px
}

.gamora{
	position: absolute;
	width: 100px;
	height:100px;
	top:700px;
	left:1220px;
	overflow:hidden;
	opacity:0;
}

.gamora:hover{
	opacity:1.0;
	width: 400px;
	height:300px;
}

.hulk{
	position: absolute;
	width:100px;
	height:100px;
	top:700px;
	left:450px;
	opacity: 0;
}

.hulk:hover{
	opacity: 1.0;
	width:300px;
	height:200px;
}

.bucky{
	position:absolute;
	width:100px;
	height:100px;
	top:780px;
	left:320px;
	opacity: 0;
}

.bucky:hover {
	width:400px;
	height:200px;
	opacity: 1.0;
}

.drax{
	position:absolute;
	width:100px;
	height:100px;
	top:700px;
	left:1600px;
	opacity:0;

}

.drax:hover{
	opacity:1.0;
	width:300px;
	height:200px;
}

.rocket{
	opacity:
	width: 100px;
	height:100px;
	top:900px;
	left: 1200px;
}