.container{
	width: 88vw;
	height: 48vw;
	margin-left: 100px;
	background-color: red;

}

.Title {
	background-color: red;
	width: 500px;
	height: 100px;
	margin: 50px;
}


body {
	background-repeat: no-repeat;
	background-color: black;
}

img { margin-left: 400px;


}

h1{ font-family: 'Lobster', cursive;
	font-size: 60px;
	color: white;
	text-align: center;

 }
h2 {
	margin: 0;
}

h3{
	color: white;
	width: 100px;
	font-size: 20px;
	margin-left: 50px;
	margin-top: -25px;

	
}
 .nav{
 	width: 540px;
 	height: 200px;
 	font-size: 20px;
 	margin-top: 50px;
 	margin-left: 1200px;
 	color: white;
 	background-color: red;
 }

 .head{ font-family: 'Lobster', cursive;
 	margin-left: 700px;
 		margin-top: -100px;
 	background-color: blue;
 	width: 450px;
 	height: 50;

  }

  .logo {
  	margin-left: -400px;
  	
  	width: 300px;
  	height: 200px;
  }

  .pic {
  	margin-left: -120px;
  	background-color: grey;
  }

  .nnav{
  	margin-left: 1550px;
  	width: 200px;
  }

  .in{
  	
  	display: none;
  	position: relative;
  	width: 400px;
  	height: 400px;
  	top: -700px;
  	left: -90px;
  	padding: 10px;
  	transition: 0.5s;
  	opacity: ;
  	
  	
  	color: white;
  	background-color: blue;

  }

  h3:hover + .in {
  	display: block;
  }

  .showdiv {
  	display: none;
  	width: 400px;
  	height: 200px;
  	color: grey;
  }

  .picture {
  	width: 800px;
  	margin-left: -100px;

  }

  .word {
  	background-color: red
  	width: 800px;
  }

  @media only screen and (max-width: 1190px) {
.container{
	width: 88vw;
	height: 58vw;
	margin-left: 100px;
	background-color: red;

}

.Title {
	background-color: red;
	width: 500px;
	height: 100px;
	margin: 50px;
}


body {
	background-repeat: no-repeat;
	background-color: black;
}

img { max-width: 100%;
	height: auto;


}

h1{ font-family: 'Lobster', cursive;
	font-size: 45px;
	color: white;
	text-align: center;

 }
h2 {
	margin: 0;
}

h3{
	color: white;
	width: 30px;
	font-size: 20px;
	margin-left: 50px;
	margin-top: -25px;

	
}
 .nav{
 	width: 500px;
 	height: 200px;
 	font-size: 17px;
 	margin-left: 550px;
 	color: white;
 	background-color: red;
 }

 .head{ font-family: 'Lobster', cursive;
 	margin-left: 350px;
 		margin-top: -100px;
 	background-color: blue;
 	width: 420px;
 	height: 50;

  }

  .logo {
  	margin-left: -400px;
  	
  	width: 300px;
  	height: 200px;
  }

  .pic {
  	margin-left: -120px;
  	background-color: grey;
  	width: 500px;
  	height: 200px;
  }

  .nnav{
  	margin-top: 300px;
  	margin-left: 850px;
  	width: 200px;
  }

  .in{
  	
  	display: none;
  	position: relative;
  	width: 200px;
  	height: 200px;
  	margin-top: 150px;
  	margin-left: 110px;
  	padding: 10px;
  	border-style: solid;
  	border-width: 15px;
  	border-color: green;
  
  

  }

  h3:hover + .in {
  	display: block;
  }

  .showdiv {
  	display: none;
  	width: 400px;
  	height: 200px;
  	color: grey;
  }

  .picture {
  	width: 700px;
  	height: 300px;
  	background-color: grey;
  	margin-left: -200px;
  }

  .word {
  	background-color: red
  	width: 800px;
  }
  
  @media only screen and (max-width: 850px){

.container{
	width: 88vw;
	height: 58vw;
	margin-left: 60px;
	background-color: red;

}

.Title {
	background-color: red;
	width: 500px;
	height: 100px;
	margin: 50px;
	margin-left: -60px;
}


body {
	background-repeat: no-repeat;
	background-color: black;
}

img { max-width: 100%;
	height: auto;


}

h1{ font-family: 'Lobster', cursive;
	font-size: 45px;
	color: white;
	text-align: center;

 }
h2 {
	margin: 0;
}

h3{
	color: white;
	width: 30px;
	font-size: 20px;
	margin-left: 50px;
	margin-top: -25px;
}


p{
	color: white;
	font-size: 30px;
	padding: 12px;

}

	
}
 .nav{
 	width: 500px;
 	height: 200px;
 	font-size: 16px;
 	margin-left: 350px;
 	color: white;
 	background-color: red;
 }

 .head{ font-family: 'Lobster', cursive;
 	margin-left: 200px;
 		margin-top: -100px;
 	background-color: blue;
 	width: 420px;
 	height: 50;

  }

  .logo {
  	margin-left: -410px;
  	
  	width: 300px;
  	height: 200px;
  }

  .pic {
  	margin-left: -170px;
  	background-color: grey;
  	width: 400px;
  	height: 170px;
  }

  .nnav{
  	margin-top: 400px;
  	margin-left: 640px;
  	width: 200px;
  	font-size: 16px;
  }

  .in{
  	
  	display: none;
  	position: relative;
  	width: 200px;
  	height: 200px;
  	margin-top: 150px;
  	margin-left: 110px;
  	padding: 10px;
  	border-style: solid;
  	border-width: 15px;
  	border-color: green;
  
  

  }

  h3:hover + .in {
  	display: block;
  }

  .showdiv {
  	display: none;
  	width: 400px;
  	height: 200px;
  	color: grey;
  }

  .picture {
  	width: 500px;
  	height: 300px;
  	background-color: grey;

  }

  .word {
  	background-color: red
  	width: 800px;
  }


  }